
@{
    ViewData["Title"] = "Educate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="catagory_section layout_padding">
        <div class="catagory_container">
            <div class="container">
                <div class="heading_container heading_center">
                    <h2>Danh mục sách</h2>
                    <p></p>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="box">
                            <div class="img-box">
                                <img src="~/assets/images/tns_computer.gif" alt="" />
                            </div>
                            <div class="detail-box">
                                <h5>Công nghệ thông tin</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="box">
                            <div class="img-box">
                                <img src="~/assets/images/tns_book.gif" alt="" />
                            </div>
                            <div class="detail-box">
                                <h5>Khoa học cơ bản</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="box">
                            <div class="img-box">
                                <img src="~/assets/images/tns_vtkt.gif" alt="" />
                            </div>
                            <div class="detail-box">
                                <h5>Vận tải kinh tế</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="box">
                            <div class="img-box">
                                <img src="~/assets/images/tns_cokhi.gif" alt="" />
                            </div>
                            <div class="detail-box">
                                <h5>Cơ khí</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="box">
                            <div class="img-box">
                                <img src="~/assets/images/tns_congtrinh.gif" alt="" />
                            </div>
                            <div class="detail-box">
                                <h5>Công trình</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="box">
                            <div class="img-box">
                                <img src="~/assets/images/tns_dientu.gif" alt="" />
                            </div>
                            <div class="detail-box">
                                <h5>Điện - Điện tử</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </section>

